<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--reset.css：重置页面初始样式-->
    <link rel="stylesheet" href="./css/reset.css">
    <!--element-Ui样式文件-->
    <link rel="stylesheet" href="./elementUi/element.css">
    <!--reset.css：页面样式文件-->
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div class="mainBox">
        <div class="navbody">
            <div class="navItem"
                 :class="[{'active':activeIndex==index}]"
                 v-for="navItem,index in navList"
                 @click="checkIt(index)"
            >{{navItem.label}}</div>
        </div>
        <div class="contentBody scrollbar_ul">
            <div class="chartBody chart-1" v-if="activeIndex==0">
                <div id="chart-1-1"></div>
                <div id="chart-1-2"></div>
                <div id="chart-1-3"></div>
                <div id="chart-1-4"></div>
            </div>
            <div class="chartBody chart-2" v-else-if="activeIndex==1">
                <div id="chart-2-1"></div>
                <div id="chart-2-2"></div>
                <div id="chart-2-3"></div>
                <div id="chart-2-4"></div>
            </div>
            <div class="chartBody chart-3" v-else-if="activeIndex==2">
                <div id="chart-3-1"></div>
                <div id="chart-3-2"></div>
                <div id="chart-3-3"></div>
                <div id="chart-3-4"></div>
            </div>
            <div class="chartBody chart-4" v-else-if="activeIndex==3">
                <div id="chart-4-1"></div>
                <div id="chart-4-2"></div>
                <div id="chart-4-3"></div>
                <div id="chart-4-4"></div>
            </div>
            <div class="chartBody chart-5" v-else-if="activeIndex==4">
                <div id="chart-5-1"></div>
                <div id="chart-5-2"></div>
                <div id="chart-5-3"></div>
            </div>
            <div class="chartBody chart-6" v-else-if="activeIndex==5">
                <div id="chart-6-1"></div>
            </div>
            <div class="chartBody chart-7" v-else-if="activeIndex==6">
                <div id="chart-7-1"></div>
            </div>
        </div>
    </div>
    <!--vue.js文件-->
    <script src="./js/vue.min.js"></script>
    <!--HTTP库-->
    <script src="./js/axios.min.js"></script>
    <!--element-ui组件库-->
    <script src="./elementUi/element.js"></script>
    <!--echarts图表库-->
    <script src="./js/echarts.min.js"></script>
    <!--echarts中国地图库-->
    <script src="./js/echarts.china.js"></script>
    <script src="./js/d3.v5.min.js"></script>
    <!--页面脚本-->
    <script src="./js/main.js"></script>
</body>
</html>